/* Bootstrap Override */
.navbar > *{
  font-size:3vmin;
}

.navbar-collapse{
  font-size:3vmin;
}

.navbar-brand{
  font-size:3vmin;
}

/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Montserrat:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;500&display=swap');
body{
  overflow: hidden;
}
.body-container{
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section{
  scroll-snap-align: start;
  padding-top: 70px;
}

.home{
  background-color: var(--bs-dark);
  color: #fff;
  font-family: 'Lato';
  justify-content: center;
}

.body-container::-webkit-scrollbar {
  width: 0px;
  /* background-color: #F5F5F5; */
}
